<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-departamento-heading"
        data-cy="DepartamentoCreateUpdateHeading"
        jhiTranslate="dunderApp.departamento.home.createOrEditLabel"
      >
        Crear o editar Departamento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="dunderApp.departamento.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nombre_depto" jhiTranslate="dunderApp.departamento.nombre_depto">Nombre Depto</label>
          <input
            type="text"
            class="form-control"
            name="nombre_depto"
            id="field_nombre_depto"
            data-cy="nombre_depto"
            formControlName="nombre_depto"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ubicacion_depto" jhiTranslate="dunderApp.departamento.ubicacion_depto"
            >Ubicacion Depto</label
          >
          <input
            type="text"
            class="form-control"
            name="ubicacion_depto"
            id="field_ubicacion_depto"
            data-cy="ubicacion_depto"
            formControlName="ubicacion_depto"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_presupuesto_depto" jhiTranslate="dunderApp.departamento.presupuesto_depto"
            >Presupuesto Depto</label
          >
          <input
            type="number"
            class="form-control"
            name="presupuesto_depto"
            id="field_presupuesto_depto"
            data-cy="presupuesto_depto"
            formControlName="presupuesto_depto"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
